@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.banner {
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 600px 0px 40px rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 80vh;
    color: #fff;
    display: block;
}

.banner img {
    width: 500px;
}

.content-box {
    position: relative;
    top: 20%;
    left: 50px;
    max-width: 380px;
    font-family: 'Lato', 'helvetica', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px black;
    line-height: 1.3em;
}

/* .content-box p { */
/*   min-width: 200px; */
/* } */

.content-box img {
    width: 350px;
    height: 200px;
}
